@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@300;400;600&family=Roboto:wght@400;900&display=swap');


body, button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
  }

 * {
  box-sizing: border-box;
 }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html, body {
  margin: 0;
}

:root{
  --dark-blue: #1D1D1D;
  --light-grey: #BFBFC1;
}

h4 {
  font-weight: 300;
}

h2, h4 {
  margin: 5px;
}

h1 {
  font-size: 80px;
  margin: 0;
  font-weight: 300;
}

.iphone-container {
  width: 350px;
  height: 700px;
  border-radius: 45px;
  border: 20px solid #111;
  background: var(--dark-blue);
  position: relative;
  color: white;
  text-align: center;
  padding: 60px 10px 20px;
}

.iphone-container .notch {
  width: 180px;
  height: 25px;
  background: #111;
  border-radius: 0 0 30px 30px;
  position: absolute;
  top: 0;
  left: calc(50% - 90px);
}

.iphone-container .iphone-menu {
  width: 90px;
  background: var(--light-grey);
  height: 2px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 45px);
}

.iphone-container svg {
  width: 100px;
  height: 100px;
  margin: 40px 0 20px;
}

.iphone-container .week-weather {
  color: var(--light-grey);
  margin-top: 40px;
  padding: 0 20px;
  display: grid;
  text-align: left;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}